@font-face {
  font-family: PTSans;
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: PTSans;
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  width: 1280px;
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f2f2f2;
  color: #000;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-header {
  width: 1200px;
  margin: 0 auto;
}

.main-index {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.button {
  color: #fff;
  font-family: inherit;
  border: none;
}

.page-header {
  background-color: #fff;
  box-shadow: 0 0 15px 0 #00000033;
}

.page-header__logo {
  position: absolute;
}

.navigation {
  display: flex;
  background-color: #fff;
  padding: 0 70px;
}

.navigation__list {
  margin: 0;
  margin-left: 238px;
  padding-left: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  line-height: 24px;
  width: 340px;
}

.navigation__link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.navigation-user {
  display: flex;
  width: 280px;
  margin-left: auto;
}

.search-icon {
  display: flex;
  background-image: url(/images/search.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 22px 12px;
  width: 20px;
  height: 20px;
}

.favorite-icon {
  display: flex;
  background-image: url(/images/favorite.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 22px 12px;
  width: 20px;
  height: 20px;
}

.navigation-user__link-wanna-here {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  padding: 8px 34px;
  border-radius: 4px;
  background: #756157;
  color: #fff;
  text-transform: uppercase;
}

.main-index {
  box-shadow: 0 0 15rgb (75, 134, 174) #00000033;
  background-color: #fff;
}

.hero {
  background-image: url(/images/index-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: left top;
  min-height: 485px;
  background-color: #8fceff;

  text-align: center;
  margin-bottom: 69px;
}

.hero__img {
  padding-top: 51px;
}

.advantages {
  width: 1200px;
}

.advantages__main-header {
  margin: auto;
  width: 630px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.advantages__main-text {
  margin: 0 0 90px 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages__item:nth-child(1),
.advantages__item:nth-child(5) {
  background-color: #82b3d3;
  color: #fff;
}

.advantages__item:nth-child(2),
.advantages__item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages__item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

/* .advantages__top-container {
  display: flex;
} */

.advantages__header {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.recomendations__header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  width: 505px;
  text-align: center;
  margin: 0 0 20px 348px;
}

.recomendations__text {
  font-style: 22px;
  line-height: 26px;
  width: 490px;
  text-align: center;
  margin: 0 0 64px 355px;
}

.recomendations__list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.recomendations__item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.recomendations__description {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hotel-search__container {
  width: 592px;
  margin: 96px auto;
}

.hotel-search__subtitle {
  display: inline-flex;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hotel-search__text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0 0 54px 0;
}

.hotel-search__button {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border-radius: 4px;
  background: #756157;
  width: 375px;
  padding: 8px 0;
}

.footer {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 15px 0 #00000033;
}

.newsletter {
  background-image: url(/images/newsletter.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 414px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsletter__header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
}

.newsletter__text {
  font-size: 22px;
  line-height: 26px;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 54px;
}

.newsletter__form {
  display: flex;
  justify-content: center;
}

.newsletter input {
  width: 452px;
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  line-height: 24px;
  background-color: #f2f2f2;
}

.newsletter__form input::placeholder {
  font-family: "PTSans", "Arial", sans-serif;
  opacity: 0.6;
}

.newsletter__button {
  width: 232px;
  height: 52px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 50px;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
}

.footer__container {
  display: flex;
  justify-content: space-around;
  margin: 40px 0 30px 0;
}

.footer__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__link-socials {
  display: flex;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0 10px;
  width: 47px;
  height: 41px;
}

.link-socials__vk {
  background-image: url(/images/vk.svg);
}

.link-socials__telegram {
  background-image: url(/images/telegram.svg);
}

.link-socials__youtube {
  background-image: url(/images/youtube.svg);
}

.footer__phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.footer__about-text {
  background-image: url(/images/logo_htmlacademy.png);
  width: 115px;
  height: 33px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

/* ========================================== CATALOG ========================================== */

.main-catalog {
  width: 1200px;
  margin: 0 auto;
}

.catalog-services__header {
  margin: 0;
  padding: 35px 0 0 70px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #fff;
}

.catalog__main-container {
  display: flex;
  justify-content: space-around;
  width: 1060px;
  margin: 0 auto;
  margin-top: 40px;
}

.catalog__buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 191px;
  min-height: 104px;
  margin-bottom: 70px;
}

.catalog-services {
  background-image: url(/images/filter-bg.jpg);
  background-color: #82b3d3;
  /* background-position: top; */
  background-repeat: no-repeat;
}

.catalog-services__list {
  list-style: none;
  padding: 0;
}

.catalog-services__home {
  background-image: url(/images/home.svg);
  width: 12px;
  height: 12px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.catalog-services__breadcrumbs {
  font-size: 16px;
  color: #fff;
  width: 114px;
  margin-left: 111px;
  margin-bottom: 40px;
}

.catalog-services__group {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-services__list {
  list-style: none;
  margin: 0;
}

.catalog-services__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  padding: 0;
}

.catalog-services__item {
  line-height: 23px;
  color: #fff;
}

.range__input {
  border: none;
  border-radius: 0 4px 4px 0;
  /* padding: 12px 20px;
  width: 143px;
  height: 48px; */
  background: #f2f2f2;
}

.range__input::placeholder {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: "PTSans", "Arial", sans-serif;
  color: #000;
  /* padding: 12px 112px 12px 20px;         ???*/
}

.catalog-services__button {
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  padding: 8px 50px;
  width: 191px;
  height: 36px;
}

.catalog-services__button--blue {
  background: #82b3d3;
}

.catalog-services__button--transparent {
  background: transparent;
}

.select-control {
  font-family: inherit;
  color: #333;
  background-color: #fff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 14px 20px;
  width: 292px;
  height: 49px;
}

.sorting {
  display: flex;
}

.sorting__container {
  display: flex;
  width: 522px;
  margin: 0 auto;
}

.sorting__result {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting__button {
  width: 16px;
  height: 14px;
  border: 2px solid #e5e5e5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 4px;
  padding: 14px 12px;
}

.sorting__button-list {
  background-image: url(/images/list.svg);
  border: 2px solid #000;
}

.sorting__button-cards {
  background-image: url(/images/cards.svg);
}

.sorting__button-onebyone {
  background-image: url(/images/onebyone.svg);
}

.services__list {
  list-style: none;
}

.services-card__heading {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000;
}

.services-card__name,
.services-card__price {
  color: #333;
}

.services-card__link {
  text-decoration: none;
  text-transform: uppercase;
}

.services-card__link-image {
  text-decoration: none;
}

.services-card__link--brown {
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 4px;
  width: 140px;
  height: 36px;
  padding: 8px 50px;
}

.services-card__favorite {
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  height: 36px;
  font-weight: 700;
  padding: 8px 50px;
  line-height: 20px;
  width: 140px;
}

.services-card__favorite--blue {
  background-color: #82b3d3;
}

.services-card__favorite--green {
  background-color: #7db54f;
}

.services-card__raiting {
  border-radius: 4px;
  width: 140px;
  height: 37px;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #333;
  padding: 8px 50px;
}

.pagination {
  display: flex;
  list-style: none;
}

.pagination__link {
  text-decoration: none;
  color: #fff;
}

.pagination__link {
  border-radius: 4px;
  padding: 10px 15px;
  background-color: #82b3d3;
  color: #fff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  margin: 0 8px;
}

.pagination__link--active {
  border-radius: 4px;
  padding: 10px 15px;
  background-color: #f2f2f2;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.pagination__link-dots {
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.newsletter-catalog {
  background-image: none;
}

.newsletter__header-catalog {
}

.newsletter__text-catalog {
}
